*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Bungee', 'Dongle';
}

body {
    margin: 0; /* Removes default margin that might cause overflow */
    overflow-x: hidden; /* Hides horizontal scrolling */
}   

.dropdown-menu{
    background: #1dc369;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

.dropdown-menu li a{
    color: rgb(255, 255, 255);
    padding: fill;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

nav ul li a:hover {
    background-color: #ffffff;
    color: #000000;
}

.bg{
    width: 80%;
    min-height: 97vh;
    background-position: center;
    background-image: url(BACKGROUND.png);
    background-size: cover;
    padding: 10px 10%;
    position: relative;
    overflow: hidden;

}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 0px 0px;
    margin: -10px -140px;
    position: absolute;
    width: 1280px;
    height: 70px;
}

nav ul li{
    display: inline-block;  
    list-style: none;
    margin: 10px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 1000;
    font-size: 40px;
}

.Content{
    margin-top: 15%;
    margin-left: -5%;
}

.image{
    width: 450px;
    position: absolute;
    bottom: 0;
    right: 5%;
 }

 .anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
 }

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.image.anim{
    animation-delay: 0.2s;
} 


.sdg-container {
    width: 80%;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Dongle';
}

h1 {
    text-align: center;
    color: #000000;
    font-family: 'Bungee';
    margin: 10px;
}


.sdg-list {
    list-style-type: none;
    padding: 0;
}

.sdg-list li {
    background-color: #ecf0f1;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #f26a44;
    font-size: 30px;
    font-family: 'Dongle';
}

.sdg-list li:hover {
    background-color: #1dc369;
    cursor: pointer;
}

.li{
list-style-type:lower-latin ;
list-style-position: inside;
padding: 20px;
}

p {
    font-family: 'Dongle', serif;
    font-size: 30px;
    padding: 10px 10px;
    color: #000000;
    line-height: 1.6;
    text-align: justify;
    margin-top: 10px;
    color: #ffffff;
    background-color: #0069dc;
    border-radius: 10px;
    margin: 10px 10px;
}

.titleop{
    margin-top: 20px;
    font-size: 50px;
    padding: 10px 5px;
    color: white;
    position: relative;
    text-align: center;
    border: 5px solid black;
    display: inline-block;
    text-shadow: 4px 4px 0 black;
    background-color: #000000;
}

